<div class="auth-main auth-main--forget-password position-relative">
    <div class="auth-wrapper version-1">
        <div class="auth-form">
            <div class="auth-background">
                <div class="yellow-circle"></div>
                <div class="red-circle"></div>
            </div>
            <div class="main-form intro-y">
                <app-card [showHeader]="false" class="auth-form-card" [padding]="40">
                    <div class="text-center m-b-20">
                        <img src="assets/images/client/ghg-vietnam/logo.png" style="height: auto;width: 90px;" alt="logo"/>
                    </div>
                    <h4 class="text-center m-b-25 f-22 f-w-700 f-roboto">Cập nhật mật khẩu</h4>
                    <ng-container *ngIf="!tokenExpired; else onTokenExpired">
                        <div class="text-start">
                            <label class="f-15 f-w-500 f-roboto">Mật khẩu mới</label>
                            <mat-form-field appearance="outline" class="w-100 m-t-5">
                                <input class="f-roboto f-15" matInput [formControl]="password" placeholder="Mật khẩu đăng nhập" [type]="hide ? 'password' : 'text'"/>
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                                </button>
                            </mat-form-field>
                            <div style="position: relative;top: -10px;" class="d-inline-flex m-t-0 flex-column w-100" *ngIf="password.touched && password.invalid && password.hasError('invalidPassword')">
                                <h5 class="f-15 font-roboto m-b-0 f-w-400 text-danger">Yêu cầu mật khẩu mới phải có:</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item p-l-0 font-roboto">
                                        <i class="ti ti-circle-check text-warning f-16 me-2"></i>Độ dài tôi thiểu 8 ký tự
                                    </li>
                                    <li class="list-group-item p-l-0 font-roboto">
                                        <i class="ti ti-circle-check text-warning f-16 me-2"></i>Chứa ít nhất một ký tự in thường (a-z)
                                    </li>
                                    <li class="list-group-item p-l-0 font-roboto">
                                        <i class="ti ti-circle-check text-warning f-16 me-2"></i>Chứa ít nhất một ký tự in hoa (A-Z)
                                    </li>
                                    <li class="list-group-item p-l-0 font-roboto">
                                        <i class="ti ti-circle-check text-warning f-16 me-2"></i>Chứa ít nhất một ký tự số (0-9)
                                    </li>
                                    <li class="list-group-item p-l-0 font-roboto">
                                        <i class="ti ti-circle-check text-warning f-16 me-2"></i>Chứa ít nhất một ký tự đặc biệt (!@#$...)
                                    </li>
                                </ul>
                            </div>
                            <label class="f-15 f-w-500 f-roboto">Xác nhận mật khẩu mới</label>
                            <mat-form-field appearance="outline" class="w-100 m-t-5" hintLabel="">
                                <input class="f-roboto f-15" matInput [formControl]="rePassword" placeholder="Mật khẩu đăng nhập" [type]="hideRePassword ? 'password' : 'text'"/>
                                <button mat-icon-button matSuffix (click)="hideRePassword = !hideRePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRePassword">
                                    <mat-icon>{{ hideRePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                                </button>
                            </mat-form-field>
                            <p style="margin: -15px 0 0 !important" *ngIf="rePassword.invalid && rePassword.hasError('passwordAndRePasswordNotMatch')" class="f-15 font-roboto m-b-0 f-w-400 text-danger m-t-5">Trường mật khẩu mới và trường xác nhận mật khẩu mới chưa trùng khớp</p>
                        </div>
                        <div class="grid">
                            <button (click)="submitData()" [disabled]="form.invalid" mat-flat-button color="primary" class="b-rad-20 m-t-15 p-10 f-roboto">Cập nhật mật khẩu</button>
                        </div>
                    </ng-container>
                    <ng-template #onTokenExpired>
                        <p class="f-15 text-justify font-roboto m-b-0 f-w-400 text-danger">Phiên cập nhật mật khẩu hiện tại của bạn đã hết hiệu lực. Bạn vui lòng thực hiện lại thao tác yêu cầu cập nhật mật khẩu cho tài khoản, để khởi tạo quá trình cập nhật mật khẩu mới.</p>
                    </ng-template>
                    <div class="d-flex justify-content-center align-items-center m-t-30">
                        <a href="javascript:" class="link-primary f-w-400 f-15 f-roboto text-primary-500 m-b-0" routerLink="/auth/login"><i class="ti ti-login f-18"></i> Đăng nhập</a>
                    </div>
                </app-card>
            </div>
        </div>
    </div>
    <div class="main-form__wrap-loading position-absolute" *ngIf="loading">
        <div class="ictu-indicator-loading-panel">
            <span class="ictu-indicator-loading-panel__label">Loading...</span>
            <mat-progress-bar class="loader" mode="indeterminate" value="40"></mat-progress-bar>
        </div>
    </div>
</div>
