<div class="ictu-dashboard-wrap">
    <div class="ictu-dashboard-wrap__body intro-y d-flex flex-column flex-fill">
        <div class="d-block position-relative m-b-30">
            <div class="card w-100 mb-0">
                <div class="card-header p-y-20">
                    <h5 class="f-16 font-roboto">Quản lý mật khẩu</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- <h5 class="f-16 font-roboto m-b-25">Form cập nhật mật khẩu</h5> -->
                            <form [formGroup]="formGroup">
                                <div class="form-group m-b-20">
                                    <label class="form-label font-roboto f-14">Mật khẩu mới</label>
                                    <div class="form-group__group w-100 position-relative">
                                        <input [type]="password.hide ? 'password' : 'text'"
                                            class="form-control font-roboto" pInputText formControlName="password" autocomplete="off">
                                        <button mat-icon-button matSuffix (click)="password.hide = !password.hide"
                                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="password.hide">
                                            <mat-icon>{{ password.hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label font-roboto f-14">Xác nhận mật khẩu mới</label>
                                    <div class="form-group__group w-100 position-relative">
                                        <input [type]="confirmPassword.hide ? 'password' : 'text'"
                                            class="form-control font-roboto" pInputText
                                            formControlName="confirm_password" autocomplete="off">
                                        <button mat-icon-button matSuffix
                                            (click)="confirmPassword.hide = !confirmPassword.hide"
                                            [attr.aria-label]="'Hide password'"
                                            [attr.aria-pressed]="confirmPassword.hide">
                                            <mat-icon>{{ confirmPassword.hide ? 'visibility_off' : 'visibility'
                                                }}</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <small class="form-notice text-danger d-block f-14 font-roboto"
                                    *ngIf="confirmPassword.field.touched && confirmPassword.field.invalid"><i
                                        class="--fs-inherit pi pi-info-circle"></i> {{ getConfirmPasswordError()
                                    }}</small>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <!-- <h5 class="f-16 font-roboto">Quy cách đặt mật khẩu mới</h5> -->
                            <!-- <ul class="list-group list-group-flush">
                                <li class="list-group-item p-l-0 font-roboto">
                                    <i class="ti ti-circle-check text-success f-16 me-2"></i> Độ dài tôi thiểu 8 ký tự
                                </li>
                                <li class="list-group-item p-l-0 font-roboto">
                                    <i class="ti ti-circle-check text-success f-16 me-2"></i> Chứa ít nhất một ký tự in thường (a-z)
                                </li>
                                <li class="list-group-item p-l-0 font-roboto">
                                    <i class="ti ti-circle-check text-success f-16 me-2"></i> Chứa ít nhất một ký tự in hoa (A-Z)
                                </li>
                                <li class="list-group-item p-l-0 font-roboto">
                                    <i class="ti ti-circle-check text-success f-16 me-2"></i> Chứa ít nhất một ký tự số (0-9)
                                </li>
                                <li class="list-group-item p-l-0 font-roboto">
                                    <i class="ti ti-circle-check text-success f-16 me-2"></i> Chứa ít nhất một ký tự đặc biệt (!@#$...)
                                </li>
                            </ul> -->
                            <div style="position: relative;top: -15px;" class="d-inline-flex m-t-0 flex-column w-100"
                                *ngIf="password?.field">
                                <!--<h5 class="guide-list__heading text-danger" style="margin: 0 0 6px;font-weight: 400;">Yêu cầu mật khẩu mới phải có:</h5>-->
                                <ul class="list-group guide-list__list list-group-flush">
                                    <li class="list-group-item" [class.criteria-invalid]="password.field.getError('invalidPassword') ? password.field.getError('invalidPassword')['length'] : false">
                                        <i class="pi" 
                                        [ngClass]="password.field.getError('invalidPassword') && password.field.getError('invalidPassword')['length'] ? 'pi-times-circle text-danger' : 'pi-check-circle text-success'"></i>
                                        Độ dài tôi thiểu 8 ký tự
                                    </li>
                                    <li class="list-group-item"
                                        [class.criteria-invalid]="password.field.getError('invalidPassword') ? password.field.getError('invalidPassword')['lowercase'] : false">
                                        <i class="pi"
                                            [ngClass]="password.field.getError('invalidPassword') && password.field.getError('invalidPassword')['lowercase'] ? 'pi-times-circle text-danger' : 'pi-check-circle text-success'"></i>
                                        Chứa ít nhất một ký tự in thường (a-z)
                                    </li>
                                    <li class="list-group-item"
                                        [class.criteria-invalid]="password.field.getError('invalidPassword') ? password.field.getError('invalidPassword')['uppercase'] : false">
                                        <i class="pi"
                                            [ngClass]="password.field.getError('invalidPassword') && password.field.getError('invalidPassword')['uppercase'] ? 'pi-times-circle text-danger' : 'pi-check-circle text-success'"></i>
                                        Chứa ít nhất một ký tự in hoa (A-Z)
                                    </li>
                                    <li class="list-group-item"
                                        [class.criteria-invalid]="password.field.getError('invalidPassword') ? password.field.getError('invalidPassword')['number'] : false">
                                        <i class="pi"
                                            [ngClass]="password.field.getError('invalidPassword') && password.field.getError('invalidPassword')['number'] ? 'pi-times-circle text-danger' : 'pi-check-circle text-success'"></i>
                                        Chứa ít nhất một ký tự số (0-9)
                                    </li>
                                    <li class="list-group-item"
                                        [class.criteria-invalid]="password.field.getError('invalidPassword') ? password.field.getError('invalidPassword')['specialCharacter'] : false">
                                        <i class="pi"
                                            [ngClass]="password.field.getError('invalidPassword') && password.field.getError('invalidPassword')['specialCharacter'] ? 'pi-times-circle text-danger' : 'pi-check-circle text-success'"></i>
                                        Chứa ít nhất một ký tự đặc biệt (!@#$...)
                                    </li>
                                    <li class="list-group-item"
                                        [class.criteria-invalid]="password.field.getError('invalidPassword') ? password.field.getError('invalidPassword')['whitespace'] : false">
                                        <i class="pi"
                                            [ngClass]="password.field.getError('invalidPassword') && password.field.getError('invalidPassword')['whitespace'] ? 'pi-times-circle text-danger' : 'pi-check-circle text-success'"></i>
                                        Không chứa ký tự dấu cách
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-y-20 d-flex justify-content-end">
                    <button (click)="submit()" pButton pRipple *ngIf="formGroup.valid; else disableSubmitButton"
                        type="button" class="app-form-button p-button-rounded" icon="pi pi-send"
                        label="Cập nhật"></button>
                    <ng-template #disableSubmitButton>
                        <button pButton pRipple disabled="disabled" type="button"
                            class="app-form-button p-button-rounded" icon="pi pi-save" label="Cập nhật"></button>
                    </ng-template>
                </div>
            </div>
            <div class="wrap-loading-animation d-flex justify-content-center align-items-center" *ngIf="loading">
                <div class="ictu-indicator-loading-panel">
                    <span class="ictu-indicator-loading-panel__label">Đang cập nhật mật khẩu...</span>
                    <mat-progress-bar class="loader" mode="indeterminate" value="40"></mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>