.form-group__group button {
	position: absolute;
	top: -6px;
	right: 0;
	line-height: 0;
	z-index: 5;
}

.form-group__group > input {
	padding-right: 50px;
}

.wrap-loading-animation {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 15;
	background-color: var(--dashboard-overlay-color);
}

.list-group-flush > .list-group-item {
	padding: 12px 0;
}
