.status-active{
    height: 24px;
    min-width: 24px;
    line-height: 0;
    border-radius: 6px;
    cursor: default;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: capitalize;
    padding: 0 6px;
    font-size: 0.75rem;
    font-weight: 700;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #118d57;
    background-color: #22c55e29;
}
.status-inactive{
    height: 24px;
    min-width: 24px;
    line-height: 0;
    border-radius: 6px;
    cursor: default;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    text-transform: capitalize;
    padding: 0 6px;
    font-size: 0.75rem;
    font-weight: 700;
    transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #b71d18;
    background-color: #ff563029;
}