.auth-form-card {
  min-width: 480px;
}

.auth-wrapper {
  background: #fff url("../../../../assets/images/authentication/77.jpg")
    no-repeat center center fixed; /* Center and fixed */
  background-size: cover;
}
