<div class="auth-main auth-main--forget-password position-relative">
  <div class="auth-wrapper version-1">
    <div class="auth-form">
      <!-- <div class="auth-background">
                <div class="yellow-circle"></div>
                <div class="red-circle"></div>
            </div> -->
      <div class="main-form intro-y">
        <app-card [showHeader]="false" class="auth-form-card" [padding]="40">
          <div class="text-center m-b-20">
            <img
              src="assets/images/logo-blue-and-orange.png"
              style="height: auto; width: 150px"
              alt="logo"
            />
          </div>
          <hr />
          <h4 class="text-center m-b-25 f-22 f-w-700 f-roboto">
            QUÊN MẬT KHẨU
          </h4>
          <ng-container *ngIf="!sentSuccessful; else onSentSuccessFull">
            <div class="text-center">
              <label class="f-15 f-w-500 f-roboto">Địa chỉ email</label>
              <mat-form-field appearance="outline" class="w-100 m-t-5">
                <input
                  class="f-roboto f-15"
                  placeholder="Địa chỉ email liên kết với tài khoản của bạn"
                  matInput
                  [formControl]="email"
                  required
                  type="email"
                />
                <mat-error *ngIf="email.invalid">{{
                  getErrorMessage()
                }}</mat-error>
              </mat-form-field>
            </div>
            <div class="grid">
              <button
                (click)="submitData()"
                [disabled]="email.invalid"
                mat-flat-button
                color="primary"
                class="b-rad-20 m-t-15 p-10 f-roboto"
              >
                Gửi yêu cầu cập nhật mật khẩu
              </button>
            </div>
          </ng-container>
          <ng-template #onSentSuccessFull>
            <p class="f-15 text-justify font-roboto m-b-0 f-w-400 text-muted">
              Yêu cầu cập nhật mật khẩu của bạn đã được chấp nhận, Chúng tôi đã
              gửi đến <span class="text-primary">{{ email.value }}</span> một
              email hướng dẫn khôi phục mật khẩu. Bạn vui lòng đọc và làm theo
              hướng dẫn như ở trong email. Trường hợp không tìm thấy email, vui
              lòng kiểm tra trong Spam.
            </p>
          </ng-template>
          <div class="d-flex justify-content-center align-items-center m-t-30">
            <a
              href="javascript:"
              class="link-primary f-w-400 f-15 f-roboto text-primary-500 m-b-0"
              routerLink="/auth/login"
              ><i class="ti ti-login f-18"></i> Đăng nhập</a
            >
          </div>
        </app-card>
      </div>
    </div>
  </div>
  <div class="main-form__wrap-loading position-absolute" *ngIf="loading">
    <div class="ictu-indicator-loading-panel">
      <span class="ictu-indicator-loading-panel__label">Loading...</span>
      <mat-progress-bar
        class="loader"
        mode="indeterminate"
        value="40"
      ></mat-progress-bar>
    </div>
  </div>
</div>
